.homeWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* Header */

.homeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 4px 8px;
  border-bottom: 2px solid #ddd;
}

.homeHeader .left,
.homeHeader .mid,
.homeHeader .right {
  display: flex;
  align-items: center;
  width: auto;
}

.backBtn {
  background: url('../../public/icon_left_arrow.png') no-repeat center center;
  min-height: 15px;
  min-width: 15px;
  border: none;
  cursor: pointer;
  margin-right: 15px;
  background-position: 0 0;
}

.forwardBtn {
  background: url('../../public/icon_right_arrow.png') no-repeat center center;
  min-height: 15px;
  min-width: 15px;
  border: none;
  cursor: pointer;
  margin-right: 15px;
  background-position: 0 0;
}

.backBtn:hover,
.forwardBtn:hover {
  background-position: -16px 0;
}

.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 15px;
  background: #fff;
}

.searchInput {
  flex: 1;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  width: auto;
}

.navegateItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #666;
  position: relative;
  background: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #fff0;
  min-width: max-content;
  height: 2.2rem;
  margin-right: 15px;
}

.navegateItem:hover {
  background-color: #e5e5e5;
  border: 1px solid #bdbdbd;
}

.navegateItem.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #666;
}

.navegateItem[data-key='60060']::before {
  content: '';
  background: url('../../public/icon_home_page.png') no-repeat center center;
  background-position: 0 0;
  min-width: 20px;
  min-height: 20px;
  margin-right: 5px;
}

.navegateItem[data-key='40007']::before {
  content: '';
  background: url('../../public/icon_game.png') no-repeat center center;
  background-position: 0 0;
  min-width: 20px;
  min-height: 20px;
  margin-right: 5px;
}

.navegateItem[data-key='30375']::before {
  content: '';
  background: url('../../public/icon_amusement.png') no-repeat center center;
  background-position: 0 0;
  min-width: 20px;
  min-height: 20px;
  margin-right: 5px;
}

.navegateItem[data-key='30014']::before {
  content: '';
  background: url('../../public/icon_create.png') no-repeat center center;
  background-position: 0 0;
  min-width: 12px;
  min-height: 12px;
  margin-right: 5px;
}

.navegateItem[data-key='60004']::before {
  content: '';
  background: url('../../public/icon_person.png') no-repeat center center;
  background-position: 0 0;
  min-width: 12px;
  min-height: 12px;
  margin-right: 5px;
}

/* Content */
.myGroupsWrapper {
  height: 100%;
  width: 100%;
  background: #f4f6fa;
}

.myGroupsContain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  max-height: calc(100vh - 1rem);
  padding: 25px;
}

.myGroupsView {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.myGroupsTitle {
  font-weight: bold;
  font-size: 1.5rem;
}

.myGroupsRoomItems {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  width: 100%;
}

.myGroupsView div:not(:last-child) .myGroupsRoomItems {
  margin-bottom: 1rem;
}

.myGroupsRoomItemBox {
  border: 1px solid #e0e0e4;
  padding: 12px;
  width: 15rem;
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 5.5rem;
  cursor: pointer;
  background: #fff;
  align-items: center;
  min-width: 200px;
  max-width: 320px;
}

.myGroupsRoomAvatarPicture {
  position: relative;
  cursor: pointer;
  object-fit: cover;
  min-height: 50px;
  min-width: 50px;
  background-image: url('../../public/logo_server_def.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.myGroupsRoomInfo {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  width: 100%;
  min-width: 0;
  flex: 1;
}

.myGroupsRoomName {
  font-size: 1.1rem;
  color: #10469e;
}

.myGroupsRoomIDBox {
  display: flex;
}

.myGroupsRoomIDBox,
.myGroupsRoomSlogen {
  color: #777;
}

.myGroupsRoomIDTitle {
  display: flex;
  align-items: flex-start;
}

.myGroupsRoomSlogen {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
}

.myGroupsRoomIDTitle.IsOwner::before {
  content: '';
  width: 13px;
  height: 15px;
  background: url('../../public/icon_creator.png') no-repeat center center;
  background-size: contain;
  background-position: 0 0;
  display: block;
  margin-right: 2px;
}

@media only screen and (width >= 500px) {
  .myGroupsRoomItems {
    width: 450px;
  }
}

@media only screen and (width >= 650px) {
  .myGroupsRoomItems {
    width: 650px;
  }
}

.viewMoreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  padding: 5px;
  margin: 8px auto 16px;
  background: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}

.more::before {
  content: '';
  display: inline-block;
  background: url('../../public/btn_fold_person.png') no-repeat center center;
  background-size: auto;
  min-width: 14px;
  min-height: 14px;
  background-position: 0 0;
  position: absolute;
  left: 10px;
  transform: rotate(180deg);
}

.less::before {
  content: '';
  display: inline-block;
  background: url('../../public/btn_fold_person.png') no-repeat center center;
  background-size: auto;
  min-width: 14px;
  min-height: 14px;
  background-position: 0 0;
  position: absolute;
  left: 10px;
}

.viewMoreBtn:hover {
  background: #f5f5f5;
}

.searchDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  margin-top: 2px;
  z-index: 1000;
  width: 200px;
  max-height: 400px;
  overflow-y: auto;
}

.dropdownHeader {
  padding: 6px 12px 3px;
  color: #000;
  border-top: 1px solid #eee;
}

.dropdownHeaderText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  padding: 6px;
  cursor: pointer;
}

.dropdownItem {
  padding: 6px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  gap: 6px;
}

.dropdownItem:hover {
  background-color: #f5f5f5;
}

.serverAvatar {
  width: 40px;
  height: 40px;
  background-image: url('../../public/logo_server_def.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.idIcon {
  background: url('../../public/channel/ID.png') no-repeat center center;
  background-size: auto;
  min-height: 12px;
  min-width: 12px;
}

.serverInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-width: 0;
  flex: 1;
}

.serverName {
  font-size: 1.1rem;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.serverIdBox {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.serverId {
  color: #666;
}
